<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tuesday's Tacos!</h1>
    <h2>Check out our menu!</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for tacoo in all_tacos %}
        <tr>
          <td>{{ tacoo.id }}</td>
          <td>{{ tacoo.name }}</td>
          <td>{{ tacoo.description }}</td>
          <td>{{ tacoo.price }}</td>
          <td>
            <img
              src="{{ tacoo.image_url }}"
              alt="{{ tacoo.name }}"
              style="height: 50px; width: 50px"
            />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <fieldset>
      <legend>Add to the Menu</legend>
      <form action="/tacos" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name_of_item" /></p>
        <p>Description: <input type="text" name="description" /></p>
        <p>Price: <input type="number" step="0.01" name="price" /></p>
        <p>Picture: <input type="text" name="picture" /></p>
        <button type="submit">Add</button>
      </form>
    </fieldset>
  </body>
</html>
