<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Today is {{ the_day }}</h1>
    <h2>Hello {{ name }}!</h2>
    <ul>
      {% for pet in pets %}
      <li>{{ pet }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
